{% include 'nav-bar.html.twig' %}

{% if start_form %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endif %}

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for message in app.session.flashBag.get('success') %}
            {{ message }}
            <a href="{{ path('Movie') }}">
                <button>Check movies</button>
            </a>
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('danger') %}
    <div class="alert alert-danger">
        {% for message in app.session.flashBag.get('danger') %}
            {{ message }}
        {% endfor %}
    </div>

{% endif %}
{% include 'footer.html.twig' %}
