{% include 'template.html.twig' %}

{{ form_start(form_connect, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form_connect) }}
{{ form_end(form_connect) }}

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for message in app.session.flashBag.get('success') %}
            {{ message }}
            <a href="{{ path('UserMe') }}">
                <button type="button" class="btn btn-outline-primary">Go to Homepage</button>
            </a>
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('danger') %}
    <div class="alert alert-danger">
        {% for message in app.session.flashBag.get('danger') %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
