{% include '../nav-bar.html.twig' %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for message in app.session.flashBag.get('success') %}
            {{ message }}
            <a href="{{ path('UserConnexion') }}">
                <button>Connexion</button>
            </a>
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('danger') %}
    <div class="alert alert-danger">
        {% for message in app.session.flashBag.get('danger') %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
